
.cgpassword{
    color: #666666;
    font-size: 14px;
    line-height: 30px;
    width: 100%;
}
.cgpassword th, .cgpassword td{
    line-height: 30px;
    padding: 6px 0;
    vertical-align: middle;
}
.cgpassword th{
    font-weight: 300;
    padding-right: 15px;
    text-align: right;
    vertical-align: top;
    width: 130px;
}
.cgpassword th em{
    margin-right: 5px;
}
.cgpassword td .txt{
    border: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 4px 5px;
    vertical-align: middle;
}
.cgpassword td input{
    color:#666;
}
.cgpassword td select{
    border: 1px solid #CCCCCC;
    font-size: 14px;
    height: 26px;
    width:144px;
    padding: 1px 0;
    vertical-align: middle;
}
.cgpassword td textarea{
    border: 1px solid #CCCCCC;
    padding: 6px 8px;
    resize: none;
}
.cgpassword td .enjoin{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding:0 15px;
    background: #89f9b3;
    margin-right: 10px;
    position: relative;
}
.cgpassword td .enjoin a{
    position: absolute;
    top: -8px;
    right: 0;
    font-size:18px;
    color:#fff;
    font-family: "arial";
}
.cgpassword td .add{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding:1px 10px;
    color:#fff;
    background: #12ad4c;
    margin-left: 10px;
    cursor: pointer;
}
.cgpassword td .save{
    background: url("../images/btn.png") no-repeat 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: 22px/32px "微软雅黑",sans-serif;
    height: 32px;
    overflow: hidden;
    text-align: left;
    width:160px;
}
.cgpassword td .save input{
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: 18px/32px "微软雅黑",sans-serif;
    height: 30px;
    overflow: hidden;
    text-align: center;
    width:160px;
    background: transparent;
}
