#register{
	border:1px solid #ddd;
	width: 990px;
	margin:20px auto;
}
#register .login_main{
	float: left;
	padding: 0 0 60px 50px;
    width: 286px;
}
#register .login_main .content_head{
	color: #333333;
    overflow: hidden;
    padding: 30px 0;
}
#register .login_main .content_head h1{
	font: 32px/32px '微软雅黑';
}
#register .in_sty input{
	border: 0 none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 3px #E3E3E3 inset;
    font: 14px/35px "新宋体";
    height: 35px;
    padding: 0 6px;
    width: 270px;
    border:1px solid #E3E3E3;
}
#register .check input{
    width:100px;
}
#register .iskeep{
	color: #333333;
    font: 12px/18px "新宋体";
    height: 19px;
}
#register .iskeep input{
    float: left;
}
#register .registerbtn{
    border-radius: 5px;
    background: #25A774;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    width: 282px;
}
#register .outfun{
	font: 12px/18px "新宋体";
}
#register .outfun .doubt{
	color:#999;
}
#register .outfun .apply{
	color:#2685E8;
}
#register .outfun .forget{
	color:#666;
	float: right;
}
#register .error{
	color:red;
}



#register .register_sidebar{
	float: right;
    width: 450px;
    margin-top: 100px;
}
#register .loginbtn{
    border-radius: 5px;
    background: #25A774;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    width: 102px;
}